In [34]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge
from scipy.sparse import hstack

In [35]:
data_train = pd.read_csv('salary-train.csv')

In [36]:
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [37]:
for str_col in data_train.select_dtypes('object'):
    data_train[str_col] = data_train[str_col].str.lower()
    data_train[str_col] = data_train[str_col].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [38]:
tfidf = TfidfVectorizer(min_df=5)
data_train_text = tfidf.fit_transform(data_train['FullDescription'])

In [39]:
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)

In [40]:
one_hot = DictVectorizer()
data_train_categ = one_hot.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [44]:
X = hstack([data_train_text, data_train_categ])

In [45]:
y = data_train['SalaryNormalized']

In [46]:
regr = Ridge(alpha=1.0, random_state=241)
regr.fit(X, y)

Ridge(random_state=241)

In [47]:
data_test = pd.read_csv('salary-test-mini.csv')
for str_col in data_test.select_dtypes('object'):
    data_test[str_col] = data_test[str_col].str.lower()
    data_test[str_col] = data_test[str_col].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [48]:
data_test_text = tfidf.transform(data_test['FullDescription'])

data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)
data_test_categ = one_hot.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

X_test = hstack([data_test_text, data_test_categ])

In [50]:
y_pred = regr.predict(X_test)

In [51]:
with open('1.txt', 'w') as f:
    f.write(' '.join([str(round(i, 2)) for i in y_pred]))